src/jade/particles/header.jade
// header
header.header
  .wrapper
    .header-inner
      a(href="#!").header-logo
        img(src="../../images/icons/logo.png", alt="")
      .header-geo
        select.js-select
          option Шымкент
          option Туркестан
          option Ленгер
          option Арыс
      ul.header-nav
        li: a(href="#!").link.link--default.active Школа
        li: a(href="#!").link.link--default Детский сад
        li: a(href="#!").link.link--default Аналитика
        li: a(href="#!").link.link--default Обратная связь
      .header-profile
        a(href="#!").link.link--default Регистрация
        select.header-lang
          option Рус
          option Каз
          option Англ
        .header-user.js-dropdawn
          div
            i.fas.fa-user-circle.icon
            | Саулембеков
          ul.dropdawn
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum

        .header-login.js-dropdawn(style="display: none")
          div
            | Вход
            i.fas.fa-sign-in-alt.icon
          ul.dropdawn
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum
            li
              a(href="#!").link Lorem, ipsum

        a(href="#!").link.link--default.header-login(style="display: none")
          | Выйти
          i.fas.fa-sign-in-alt.icon
      .header-menu-btn
        #nav-icon1
          span
          span
          span
      ul.header-mobile-menu
        li: a(href="#!").link Школа
        li: a(href="#!").link Детский сад
        li: a(href="#!").link Аналитика
        li: a(href="#!").link Обратная связь
        li: a(href="#!").link Регистрация

build/html/particles/header.html

<!-- header-->
<header class="header">
  <div class="wrapper">
    <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""/></a>
      <div class="header-geo">
        <select class="js-select">
          <option>Шымкент</option>
          <option>Туркестан</option>
          <option>Ленгер</option>
          <option>Арыс</option>
        </select>
      </div>
      <ul class="header-nav">
        <li><a href="#!" class="link link--default active">Школа</a></li>
        <li><a href="#!" class="link link--default">Детский сад</a></li>
        <li><a href="#!" class="link link--default">Аналитика</a></li>
        <li><a href="#!" class="link link--default">Обратная связь</a></li>
      </ul>
      <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
        <select class="header-lang">
          <option>Рус</option>
          <option>Каз</option>
          <option>Англ</option>
        </select>
        <div class="header-user js-dropdawn">
          <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
          <ul class="dropdawn">
            <li><a href="#!" class="link">Lorem, ipsum</a></li>
            <li><a href="#!" class="link">Lorem, ipsum</a></li>
            <li><a href="#!" class="link">Lorem, ipsum</a></li>
          </ul>
        </div>
        <div style="display: none" class="header-login js-dropdawn">
          <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
          <ul class="dropdawn">
            <li><a href="#!" class="link">Lorem, ipsum</a></li>
            <li><a href="#!" class="link">Lorem, ipsum</a></li>
            <li><a href="#!" class="link">Lorem, ipsum</a></li>
          </ul>
        </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
      </div>
      <div class="header-menu-btn">
        <div id="nav-icon1"><span></span><span></span><span></span></div>
      </div>
      <ul class="header-mobile-menu">
        <li><a href="#!" class="link">Школа</a></li>
        <li><a href="#!" class="link">Детский сад</a></li>
        <li><a href="#!" class="link">Аналитика</a></li>
        <li><a href="#!" class="link">Обратная связь</a></li>
        <li><a href="#!" class="link">Регистрация</a></li>
      </ul>
    </div>
  </div>
</header>
