build/html/particles/rate.html

<div class="rate"><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item"></i><i class="iconic iconic--star-2 rate-item"></i></div>

src/jade/particles/rate.jade
.rate
  i.iconic.iconic--star-2.rate-item.active
  i.iconic.iconic--star-2.rate-item.active
  i.iconic.iconic--star-2.rate-item.active
  i.iconic.iconic--star-2.rate-item
  i.iconic.iconic--star-2.rate-item
