src/jade/pages/arm-2.jade
-var dir = "../..";
doctype
html
  head
    meta(charset = 'utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet")
    link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
    link(rel="stylesheet" href="#{dir}/css/vendor.min.css")
    link(rel="stylesheet" href="#{dir}/css/common.min.css")
    title tHunter
  body
    .page.page-arm
      header.header.header--arm
        .header-inner
          a(href="#!").header-logo
            img(src="../../images/icons/logo-arm.png", alt="")
          .header-slogan | АРМ ДИРЕКТОР
          .header-search
            form(action="#!")
              .input-wrap
                input(type="text" placeholder="Поиск")
                button
                  i.fas.fa-search.icon
          .header-lang
            select
              option Рус
              option Каз
              option Англ
          a(href="#!").link.link--default.header-login
            i.fas.fa-sign-in-alt.icon
            | Выйти							

      // main
      main.main
        .armd
          .armd-inner
            .armd-sidebar
              .armd-profile
                img(src="../../images/arm-img-2.png", alt="").armd-profile__avatar
                .armd-profile__user САУЛЕМБЕКОВ
                  small Администратор

              ul.armd-nav
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--diary
                    span Реестр вакансии
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--open-book
                    span Открытые вакансии
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--list
                    span Задачи на обработку
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li.dropdown
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--diary
                    span Родительский комитет
                  ul.armd-nav__sub
                    li: a(href="#!").link Подтвержденные вакансии
                    li: a(href="#!").link Прошли собеседование
                    li: a(href="#!").link Закрытые вакансии
                li
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.iconic.iconic--settings
                    span Настройки
                li
                  a(href="#!").armd-nav__item.link
                    .armd-nav__icon
                      i.fas.fa-sign-in-alt
                    span Выйти

            .armd-content
              .armd-content__top
                .armd-content__title Реестр вакансии
                .armd-breadcrumb
                  a(href="#!").link Главная
                  a(href="#!").link Реестр
                  span.link.active Открытые

              .armd-content__inner
                .table-wrap.table-flex
                  table.table-orange.table-no-border.w80
                    tr
                      td Предмет
                      td
                        select.js-select
                          option test
                          option test
                          option test
                    tr
                      td Язык обучения
                      td
                        select.js-select
                          option Английский
                          option Казахский
                          option Русский
                    tr
                      td Тип занятости
                      td
                        select.js-select
                          option На период декретного отпуска
                          option На период декретного отпуска
                          option На период декретного отпуска
                    tr
                      td Нагрузка часов
                      td
                        select.js-select
                          option 8 часов
                          option 8 часов
                          option 8 часов
                    tr
                      td Описание
                      td

                .button-wrap.w80
                  a(href="#!").btn.btn-default.btn--arr Отправить на  подтверждение
                  a(href="#!").btn.btn-default.btn--add Сохранить в черновики
          

      // footer
      footer.footer
        div
          img(src="../../images/icons/logo-arm.png", alt="").footer-logo
        div Тел.: 8(7172) 777-888
        div 
          span Почта: t-hunter@mail.ru
          span @ 2018. Все права защищены. “T-hunter”          


    // vendor js
    script(src='#{dir}/scripts/libs.js')
    // common.js
    script(src='#{dir}/scripts/common.min.js')

build/html/pages/arm-2.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page page-arm">
      <header class="header header--arm">
        <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo-arm.png" alt=""></a>
          <div class="header-slogan">| АРМ ДИРЕКТОР</div>
          <div class="header-search">
            <form action="#!">
              <div class="input-wrap">
                <input type="text" placeholder="Поиск">
                <button><i class="fas fa-search icon"></i></button>
              </div>
            </form>
          </div>
          <div class="header-lang">
            <select>
              <option>Рус</option>
              <option>Каз</option>
              <option>Англ</option>
            </select>
          </div><a href="#!" class="link link--default header-login"><i class="fas fa-sign-in-alt icon"></i>Выйти							</a>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="armd">
          <div class="armd-inner">
            <div class="armd-sidebar">
              <div class="armd-profile"><img src="../../images/arm-img-2.png" alt="" class="armd-profile__avatar">
                <div class="armd-profile__user">САУЛЕМБЕКОВ<small>Администратор</small></div>
              </div>
              <ul class="armd-nav">
                <li class="dropdown"><a href="#!" class="armd-nav__item link">
                    <div class="armd-nav__icon"><i class="iconic iconic--diary"></i></div><span>Реестр вакансии</span></a>
                  <ul class="armd-nav__sub">
                    <li><a href="#!" class="link">Подтвержденные вакансии</a></li>
                    <li><a href="#!" class="link">Прошли собеседование</a></li>
                    <li><a href="#!" class="link">Закрытые вакансии</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#!" class="armd-nav__item link">
                    <div class="armd-nav__icon"><i class="iconic iconic--open-book"></i></div><span>Открытые вакансии</span></a>
                  <ul class="armd-nav__sub">
                    <li><a href="#!" class="link">Подтвержденные вакансии</a></li>
                    <li><a href="#!" class="link">Прошли собеседование</a></li>
                    <li><a href="#!" class="link">Закрытые вакансии</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#!" class="armd-nav__item link">
                    <div class="armd-nav__icon"><i class="iconic iconic--list"></i></div><span>Задачи на обработку</span></a>
                  <ul class="armd-nav__sub">
                    <li><a href="#!" class="link">Подтвержденные вакансии</a></li>
                    <li><a href="#!" class="link">Прошли собеседование</a></li>
                    <li><a href="#!" class="link">Закрытые вакансии</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="#!" class="armd-nav__item link">
                    <div class="armd-nav__icon"><i class="iconic iconic--diary"></i></div><span>Родительский комитет</span></a>
                  <ul class="armd-nav__sub">
                    <li><a href="#!" class="link">Подтвержденные вакансии</a></li>
                    <li><a href="#!" class="link">Прошли собеседование</a></li>
                    <li><a href="#!" class="link">Закрытые вакансии</a></li>
                  </ul>
                </li>
                <li><a href="#!" class="armd-nav__item link">
                    <div class="armd-nav__icon"><i class="iconic iconic--settings"></i></div><span>Настройки</span></a></li>
                <li><a href="#!" class="armd-nav__item link">
                    <div class="armd-nav__icon"><i class="fas fa-sign-in-alt"></i></div><span>Выйти</span></a></li>
              </ul>
            </div>
            <div class="armd-content">
              <div class="armd-content__top">
                <div class="armd-content__title">Реестр вакансии</div>
                <div class="armd-breadcrumb"><a href="#!" class="link">Главная</a><a href="#!" class="link">Реестр</a><span class="link active">Открытые</span></div>
              </div>
              <div class="armd-content__inner">
                <div class="table-wrap table-flex">
                  <table class="table-orange table-no-border w80">
                    <tr>
                      <td>Предмет</td>
                      <td>
                        <select class="js-select">
                          <option>test</option>
                          <option>test</option>
                          <option>test</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Язык обучения</td>
                      <td>
                        <select class="js-select">
                          <option>Английский</option>
                          <option>Казахский</option>
                          <option>Русский</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Тип занятости</td>
                      <td>
                        <select class="js-select">
                          <option>На период декретного отпуска</option>
                          <option>На период декретного отпуска</option>
                          <option>На период декретного отпуска</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Нагрузка часов</td>
                      <td>
                        <select class="js-select">
                          <option>8 часов</option>
                          <option>8 часов</option>
                          <option>8 часов</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>Описание</td>
                      <td></td>
                    </tr>
                  </table>
                </div>
                <div class="button-wrap w80"><a href="#!" class="btn btn-default btn--arr">Отправить на  подтверждение</a><a href="#!" class="btn btn-default btn--add">Сохранить в черновики</a></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div><img src="../../images/icons/logo-arm.png" alt="" class="footer-logo"></div>
        <div>Тел.: 8(7172) 777-888</div>
        <div> <span>Почта: t-hunter@mail.ru</span><span>@ 2018. Все права защищены. “T-hunter”          </span></div>
      </footer>
    </div>
    <!-- vendor js-->
    <script src="../../scripts/libs.js"></script>
    <!-- common.js-->
    <script src="../../scripts/common.min.js"></script>
  </body>
</html>
