build/html/pages/candidat.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="candidat">
          <div class="wrapper">
            <div class="candidat-title">
              <h3 class="h3">Кандидаты</h3>
              <p>Выберите кандидата нажав на его фото</p>
            </div>
            <div class="candidat-wrap"><a href="#candidat-popup" class="candidat-item link popup-with-move-anim"><img src="../../images/candidat-card.png" alt=""><span>Саулембеков Е.А.</span></a></div>
            <div class="candidat-card__wrap">
              <div class="candidat-card">
                <div class="candidat-card__title">
                  <h3 class="h3">Карточка вакансии</h3><span>Математика</span>
                </div>
                <div class="table-wrap table-flex">
                  <table>
                    <tr>
                      <td>Организация</td>
                      <td class="c-red">№89 Средняя общеобразовательная школа</td>
                    </tr>
                    <tr>
                      <td>Требования</td>
                      <td class="c-red">Требуется препадователь по математике с опытом</td>
                    </tr>
                  </table>
                </div><strong>Подтвердите ваше действие нажатием кнопки</strong>
              </div>
              <div class="candidat-card__btn"><a href="#!" class="btn btn-default">Подтвердить выбор</a></div>
            </div>
          </div>
          <div id="candidat-popup" class="zoom-anim-dialog mfp-hide candidat-popup">
            <div class="candidat-popup__name">
              <h3 class="h3">САУЛЕМБЕКОВ ЕРЖАН АЛТАЕВИЧ</h3>
            </div>
            <div class="table-wrap table-flex">
              <table>
                <tr>
                  <td>Резюме</td>
                  <td>Преподаватель</td>
                </tr>
                <tr>
                  <td>Результат предметного тестирования</td>
                  <td> <span class="c-orange">4 из 25 (16%)</span><a href="#!" class="link">Посмотреть результаты</a></td>
                </tr>
                <tr>
                  <td>Дата подачи заявления </td>
                  <td>01/14/2018 11:48:00</td>
                </tr>
                <tr>
                  <td>Удостоверение личности</td>
                  <td>2017-11-16_19-58-20</td>
                </tr>
                <tr>
                  <td>Диплом</td>
                  <td>2017-11-16_19-58-20</td>
                </tr>
                <tr>
                  <td>Медицинская справка</td>
                  <td>2017-11-16_19-58-20</td>
                </tr>
                <tr>
                  <td>Трудовая книжка</td>
                  <td>2017-11-16_19-58-20</td>
                </tr>
                <tr>
                  <td>Справка о несудимости </td>
                  <td>2017-11-16_19-58-20</td>
                </tr>
                <tr>
                  <td>Сертификаты о прохождении курсов</td>
                  <td>2017-11-16_19-58-20</td>
                </tr>
                <tr>
                  <td>Результат онлайн тестирования</td>
                  <td><span class="c-orange">Не соответствует ожиданиям организации.</span></td>
                </tr>
                <tfoot>
                  <td>Ваша оценка</td>
                  <td>
                    <div class="input-checkbox">
                      <label>
                        <input type="checkbox"><small></small><span>Не явился на конкурсную комиссию</span>
                      </label>
                    </div>
                    <div class="input-checkbox">
                      <label>
                        <input type="checkbox"><small></small><span>1-Категорически не рекомендуется</span>
                      </label>
                    </div>
                    <div class="input-checkbox">
                      <label>
                        <input type="checkbox"><small></small><span>2-Не рекомендуется</span>
                      </label>
                    </div>
                    <div class="input-checkbox">
                      <label>
                        <input type="checkbox"><small></small><span>3-Нейтрально</span>
                      </label>
                    </div>
                    <div class="input-checkbox">
                      <label>
                        <input type="checkbox"><small></small><span>4-Рекомендуется</span>
                      </label>
                    </div>
                    <div class="input-checkbox">
                      <label>
                        <input type="checkbox"><small></small><span>5-Очень рекомендуется</span>
                      </label>
                    </div>
                  </td>
                </tfoot>
              </table>
            </div>
            <div class="button-wrap"><a href="#!" class="btn btn-default btn--close">Закрыть</a><a href="#!" class="btn btn-default btn--arr">Сохранить</a></div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>

src/jade/pages/candidat.jade
extends ../template/template

- var pageClass = 'page-candidat'

block header
  include ../particles/header.jade

block content

  .candidat
    .wrapper
      .candidat-title
        h3.h3 Кандидаты
        p Выберите кандидата нажав на его фото
      .candidat-wrap
        a(href="#candidat-popup").candidat-item.link.popup-with-move-anim
          img(src="../../images/candidat-card.png", alt="")
          span Саулембеков Е.А.

      .candidat-card__wrap
        .candidat-card
          .candidat-card__title
            h3.h3 Карточка вакансии
            span Математика
          .table-wrap.table-flex
            table
              tr
                td Организация
                td.c-red №89 Средняя общеобразовательная школа
              tr
                td Требования
                td.c-red Требуется препадователь по математике с опытом
          strong Подтвердите ваше действие нажатием кнопки
        .candidat-card__btn
          a(href="#!").btn.btn-default Подтвердить выбор

    #candidat-popup.zoom-anim-dialog.mfp-hide.candidat-popup
      .candidat-popup__name
        h3.h3 САУЛЕМБЕКОВ ЕРЖАН АЛТАЕВИЧ
      .table-wrap.table-flex
        table
          tr
            td Резюме
            td Преподаватель
          tr
            td Результат предметного тестирования
            td 
              span.c-orange 4 из 25 (16%)
              a(href="#!").link Посмотреть результаты
          tr
            td Дата подачи заявления 
            td 01/14/2018 11:48:00
          tr
            td Удостоверение личности
            td 2017-11-16_19-58-20
          tr
            td Диплом
            td 2017-11-16_19-58-20
          tr
            td Медицинская справка
            td 2017-11-16_19-58-20
          tr
            td Трудовая книжка
            td 2017-11-16_19-58-20
          tr
            td Справка о несудимости 
            td 2017-11-16_19-58-20
          tr
            td Сертификаты о прохождении курсов
            td 2017-11-16_19-58-20
          tr
            td Результат онлайн тестирования
            td: span.c-orange Не соответствует ожиданиям организации.
          tfoot
            td Ваша оценка
            td
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span Не явился на конкурсную комиссию
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 1-Категорически не рекомендуется
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 2-Не рекомендуется
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 3-Нейтрально
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 4-Рекомендуется
              .input-checkbox
                label
                  input(type="checkbox")
                  small
                  span 5-Очень рекомендуется

      .button-wrap
        a(href="#!").btn.btn-default.btn--close Закрыть
        a(href="#!").btn.btn-default.btn--arr Сохранить
