src/jade/pages/experience.jade
extends ../template/template

- pageClass = 'page-cabinet';

block header
  include ../particles/header.jade

block content
  .cabinet
    .experience.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Опыт работы кандидата
          .shadow-title Опыт работы
          .table-wrap.table-flex
            table
              tr
                td.w50 Тип стажа
                td.c-red
                  select.js-select
                    option yerzhan.saulembekov@gmail.com
                    option Вариант 1
                    option Вариант 2
              tr
                td.w50 Организация
                td.c-red
                  .input-wrap 
                    input(type="text" value="ТОО IT invest Group").input.input-default
              tr
                td.w50 Регион
                td.c-red
                  .input-wrap 
                    input(type="text" value="г.Астана").input.input-default
              tr
                td.w50 Должность
                td.c-red
                  .input-wrap
                    input(type="text" value="Руководитель проекта").input.input-default
              tr
                td.w50 Период: начало
                td.c-red
                  .input-wrap.input-calendar
                    input(type="text").datepicker-here.input.input-default
              tr
                td.w50 Период: конец
                td.c-red
                  .fxbox.fxbox--ai-c
                    .input-wrap.input-calendar
                      input(type="text").datepicker-here.input.input-default
                    .input-checkbox
                      label
                        input(type="checkbox")
                        small
                        span По настоящее время
            hr

            table
              tr
                td.w50 Тип стажа
                td.c-red                
                  select.js-select
                    option Педагогический
                    option Вариант 1
                    option Вариант 2
              tr
                td.w50 Категория
                td.c-red
                  .input-wrap 
                    input(type="text" value="Нет категорий").input.input-default
              tr
                td.w50 Организация
                td.c-red
                  .input-wrap 
                    input(type="text" value="ТОО IT invest Group").input.input-default
              tr
                td.w50 Регион
                td.c-red
                  .input-wrap 
                    input(type="text" value="г.Астана").input.input-default
              tr
                td.w50 Должность
                td.c-red
                  .input-wrap
                    input(type="text" value="Руководитель проекта").input.input-default
              tr
                td.w50 Период: начало
                td.c-red
                  .input-wrap.input-calendar
                    input(type="text").datepicker-here.input.input-default
              tr
                td.w50 Период: конец
                td.c-red
                  .fxbox.fxbox--ai-c
                    .input-wrap.input-calendar
                      input(type="text").datepicker-here.input.input-default
                    .input-checkbox
                      label
                        input(type="checkbox")
                        small
                        span По настоящее время  

          .button-wrap
            a(href="#!").btn.btn-default.btn--add Добавить место
            a(href="#!").btn.btn-default.btn--arr Сохранить

build/html/pages/experience.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="cabinet">
          <div class="experience block js-anim">
            <div class="wrapper">
              <div class="block-inner">
                <h2 class="h2">Опыт работы кандидата</h2>
                <div class="shadow-title">Опыт работы</div>
                <div class="table-wrap table-flex">
                  <table>
                    <tr>
                      <td class="w50">Тип стажа</td>
                      <td class="c-red">
                        <select class="js-select">
                          <option>yerzhan.saulembekov@gmail.com</option>
                          <option>Вариант 1</option>
                          <option>Вариант 2</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Организация</td>
                      <td class="c-red">
                        <div class="input-wrap"> 
                          <input type="text" value="ТОО IT invest Group" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Регион</td>
                      <td class="c-red">
                        <div class="input-wrap"> 
                          <input type="text" value="г.Астана" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Должность</td>
                      <td class="c-red">
                        <div class="input-wrap">
                          <input type="text" value="Руководитель проекта" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Период: начало</td>
                      <td class="c-red">
                        <div class="input-wrap input-calendar">
                          <input type="text" class="datepicker-here input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Период: конец</td>
                      <td class="c-red">
                        <div class="fxbox fxbox--ai-c">
                          <div class="input-wrap input-calendar">
                            <input type="text" class="datepicker-here input input-default">
                          </div>
                          <div class="input-checkbox">
                            <label>
                              <input type="checkbox"><small></small><span>По настоящее время</span>
                            </label>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                  <hr>
                  <table>
                    <tr>
                      <td class="w50">Тип стажа</td>
                      <td class="c-red">               
                        <select class="js-select">
                          <option>Педагогический</option>
                          <option>Вариант 1</option>
                          <option>Вариант 2</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Категория</td>
                      <td class="c-red">
                        <div class="input-wrap"> 
                          <input type="text" value="Нет категорий" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Организация</td>
                      <td class="c-red">
                        <div class="input-wrap"> 
                          <input type="text" value="ТОО IT invest Group" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Регион</td>
                      <td class="c-red">
                        <div class="input-wrap"> 
                          <input type="text" value="г.Астана" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Должность</td>
                      <td class="c-red">
                        <div class="input-wrap">
                          <input type="text" value="Руководитель проекта" class="input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Период: начало</td>
                      <td class="c-red">
                        <div class="input-wrap input-calendar">
                          <input type="text" class="datepicker-here input input-default">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="w50">Период: конец</td>
                      <td class="c-red">
                        <div class="fxbox fxbox--ai-c">
                          <div class="input-wrap input-calendar">
                            <input type="text" class="datepicker-here input input-default">
                          </div>
                          <div class="input-checkbox">
                            <label>
                              <input type="checkbox"><small></small><span>По настоящее время  </span>
                            </label>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="button-wrap"><a href="#!" class="btn btn-default btn--add">Добавить место</a><a href="#!" class="btn btn-default btn--arr">Сохранить</a></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>
