src/jade/pages/index.jade
extends ../template/template

- var pageClass = 'page-index'

block header
  include ../particles/header.jade

block content
  .promo
    #particles-js
    .wrapper
      .promo-inner
        h1 Cотни педагогов <br/> ищут работу у нас
        form(action="#!" method="").form
          .form-logo
            span T-Hunter
          .input-wrap
            input.input(type="text" placeholder="Начните поиск и вы")
          button.btn.btn--light
            i.fas.fa-search.icon
            span Найти
        .promo-adv
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-1.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 149
              small вакансий
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-2.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 2126
              small заявлений
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-3.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 884
              small конкурсных комиссий
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-4.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 2862
              small пользователей
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-5.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 203
              small организаций
          .promo-adv__item
            img(src="../../images/icons/advantage-icon-6.png", alt="").promo-adv__icon
            .promo-adv__content          
              span.count 570
              small прошедшие комисию

  .vacancy.block.js-anim
    .wrapper
      .vacancy-inner.block-inner
        h2.h2 Вакансии
        .shadow-title Вакансии
        .fxbox.fxbox--wrap.fxbox--jc-sb
          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/top.png", alt="").block-title__icon
              | ТОП 5 школ
            .block-list
              .h4.h4--blue Наименования
              table.table
                tr
                  td 1
                  td Школа № 1
                  td 
                    span.c-red 32
                tr
                  td 2
                  td Школа № 2
                  td 
                    span.c-red 32
                tr
                  td 3
                  td Школа № 3
                  td 
                    span.c-red 32
                tr
                  td 4
                  td Школа № 4
                  td 
                    span.c-red 32
                tr
                  td 5
                  td Школа № 5
                  td 
                    span.c-red 32
            a(href="#!").btn.btn-default.btn--arr 
              span посмотреть все
          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/vacancy.png", alt="").block-title__icon
              | Открытые вакансии            
            .block-list
              .block-list__item
                .h4.h4--blue Начальное образование
                p №19 Средняя общеобразовательная школа имени О.Жанибекова
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Вожатый
                p №107 Средняя общеобразовательная школа имени Ю.Сареми 
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Английский язык
                p №40 школа гимназия имени Алпамыс Батыра
                p.date 10/11/2017 15:47
            a(href="#!").btn.btn-default.btn--arr 
              span посмотреть все

          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/star.png", alt="").block-title__icon
              |Популярные вакансии
            .block-list
              .h4.h4--blue Наименования
              table.table
                  tr
                    td Биология
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Математика
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Казахский язык
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Математика
                    td 
                      img(src="../../images/icons/news.png", alt="")
                  tr
                    td Математика
                    td 
                      img(src="../../images/icons/news.png", alt="")
            a(href="#!").btn.btn-default.btn--arr 
                span посмотреть все


  .result.block.js-anim
    .wrapper
      .result-inner.block-inner
        h2.h2 Результаты комиссии
        .shadow-title Комиссии
        .fxbox.fxbox--wrap.fxbox--jc-sb
          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/calendar.png", alt="").block-title__icon
              | Даты заседания комиссий
            .block-list
              .block-list__item
                .h4.h4--blue 15 марта 2018 года
                p г.Шымкент, ул.Рескулова 8а, фронт офис
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue 15 марта 2018 года
                p г.Шымкент, ул.Рескулова 8а, фронт офис
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue 15 марта 2018 года
                p г.Шымкент, ул.Рескулова 8а, фронт офис
                p.date 10/11/2017 15:47

          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/paper.png", alt="").block-title__icon
              | Результаты конкурсной комиссии
            .block-list
              .block-list__item
                .h4.h4--blue Ашур Айгул Искандаркызы
                p №19 Средняя общеобразовательная школа имени О.Жанибекова
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Ашур Айгул Искандаркызы
                p №107 Средняя общеобразовательная школа имени Ю.Сареми 
                p.date 10/11/2017 15:47
              .block-list__item
                .h4.h4--blue Ашур Айгул Искандаркызы
                p №40 школа гимназия имени Алпамыс Батыра
                p.date 10/11/2017 15:47
            a(href="#!").btn.btn-default.btn--arr 
              span посмотреть все

          .fxbox-item.w30
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/foto.png", alt="").block-title__icon
              |Онлайн трансляция
            a(href="#!").online-trans
              img(src="../../images/icons/online.png", alt="")


  .news.block.js-anim
    .wrapper
      .news-inner.block-inner
        h2.h2 Новости
        .shadow-title Новости
        .fxbox.fxbox--wrap.fxbox--jc-sb
          .fxbox-item.w33
            .news-card
              .news-card__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              .news-card__title ЕНТ для поступления в вузы не отменяется - МОН РК
              p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              .news-card__btn
                a(href="#!").btn.btn-default.btn--arr Читать далее

          .fxbox-item.w33
            .news-card
              .news-card__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              .news-card__title ЕНТ для поступления в вузы не отменяется - МОН РК
              p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              .news-card__btn
                a(href="#!").btn.btn-default.btn--arr Читать далее
          .fxbox-item.w33.achievements
            h3.h3.h3--blue.block-title
              img(src="../../images/icons/cup.png", alt="").block-title__icon
              | Достижения
            a(href="#!").link.achievements-cert
              img(src="../../images/cert.jpg", alt="")
        a(href="#!").btn.btn-default.btn--arr посмотреть все

build/html/pages/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="promo">
          <div id="particles-js"></div>
          <div class="wrapper">
            <div class="promo-inner">
              <h1>Cотни педагогов <br/> ищут работу у нас</h1>
              <form action="#!" method="" class="form">
                <div class="form-logo"><span>T-Hunter</span></div>
                <div class="input-wrap">
                  <input type="text" placeholder="Начните поиск и вы" class="input">
                </div>
                <button class="btn btn--light"><i class="fas fa-search icon"></i><span>Найти</span></button>
              </form>
              <div class="promo-adv">
                <div class="promo-adv__item"><img src="../../images/icons/advantage-icon-1.png" alt="" class="promo-adv__icon">
                  <div class="promo-adv__content">         <span class="count">149</span><small>вакансий</small></div>
                </div>
                <div class="promo-adv__item"><img src="../../images/icons/advantage-icon-2.png" alt="" class="promo-adv__icon">
                  <div class="promo-adv__content">         <span class="count">2126</span><small>заявлений</small></div>
                </div>
                <div class="promo-adv__item"><img src="../../images/icons/advantage-icon-3.png" alt="" class="promo-adv__icon">
                  <div class="promo-adv__content">         <span class="count">884</span><small>конкурсных комиссий</small></div>
                </div>
                <div class="promo-adv__item"><img src="../../images/icons/advantage-icon-4.png" alt="" class="promo-adv__icon">
                  <div class="promo-adv__content">         <span class="count">2862</span><small>пользователей</small></div>
                </div>
                <div class="promo-adv__item"><img src="../../images/icons/advantage-icon-5.png" alt="" class="promo-adv__icon">
                  <div class="promo-adv__content">         <span class="count">203</span><small>организаций</small></div>
                </div>
                <div class="promo-adv__item"><img src="../../images/icons/advantage-icon-6.png" alt="" class="promo-adv__icon">
                  <div class="promo-adv__content">         <span class="count">570</span><small>прошедшие комисию</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="vacancy block js-anim">
          <div class="wrapper">
            <div class="vacancy-inner block-inner">
              <h2 class="h2">Вакансии</h2>
              <div class="shadow-title">Вакансии</div>
              <div class="fxbox fxbox--wrap fxbox--jc-sb">
                <div class="fxbox-item w30">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/top.png" alt="" class="block-title__icon">ТОП 5 школ</h3>
                  <div class="block-list">
                    <div class="h4 h4--blue">Наименования</div>
                    <table class="table">
                      <tr>
                        <td>1</td>
                        <td>Школа № 1</td>
                        <td> <span class="c-red">32</span></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Школа № 2</td>
                        <td> <span class="c-red">32</span></td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Школа № 3</td>
                        <td> <span class="c-red">32</span></td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Школа № 4</td>
                        <td> <span class="c-red">32</span></td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>Школа № 5</td>
                        <td> <span class="c-red">32</span></td>
                      </tr>
                    </table>
                  </div><a href="#!" class="btn btn-default btn--arr"> <span>посмотреть все</span></a>
                </div>
                <div class="fxbox-item w30">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/vacancy.png" alt="" class="block-title__icon">Открытые вакансии            </h3>
                  <div class="block-list">
                    <div class="block-list__item">
                      <div class="h4 h4--blue">Начальное образование</div>
                      <p>№19 Средняя общеобразовательная школа имени О.Жанибекова</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                    <div class="block-list__item">
                      <div class="h4 h4--blue">Вожатый</div>
                      <p>№107 Средняя общеобразовательная школа имени Ю.Сареми </p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                    <div class="block-list__item">
                      <div class="h4 h4--blue">Английский язык</div>
                      <p>№40 школа гимназия имени Алпамыс Батыра</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                  </div><a href="#!" class="btn btn-default btn--arr"> <span>посмотреть все</span></a>
                </div>
                <div class="fxbox-item w30">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/star.png" alt="" class="block-title__icon">Популярные вакансии</h3>
                  <div class="block-list">
                    <div class="h4 h4--blue">Наименования</div>
                    <table class="table">
                      <tr>
                        <td>Биология</td>
                        <td> <img src="../../images/icons/news.png" alt=""></td>
                      </tr>
                      <tr>
                        <td>Математика</td>
                        <td> <img src="../../images/icons/news.png" alt=""></td>
                      </tr>
                      <tr>
                        <td>Казахский язык</td>
                        <td> <img src="../../images/icons/news.png" alt=""></td>
                      </tr>
                      <tr>
                        <td>Математика</td>
                        <td> <img src="../../images/icons/news.png" alt=""></td>
                      </tr>
                      <tr>
                        <td>Математика</td>
                        <td> <img src="../../images/icons/news.png" alt=""></td>
                      </tr>
                    </table>
                  </div><a href="#!" class="btn btn-default btn--arr"> <span>посмотреть все</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="result block js-anim">
          <div class="wrapper">
            <div class="result-inner block-inner">
              <h2 class="h2">Результаты комиссии</h2>
              <div class="shadow-title">Комиссии</div>
              <div class="fxbox fxbox--wrap fxbox--jc-sb">
                <div class="fxbox-item w30">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/calendar.png" alt="" class="block-title__icon">Даты заседания комиссий</h3>
                  <div class="block-list">
                    <div class="block-list__item">
                      <div class="h4 h4--blue">15 марта 2018 года</div>
                      <p>г.Шымкент, ул.Рескулова 8а, фронт офис</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                    <div class="block-list__item">
                      <div class="h4 h4--blue">15 марта 2018 года</div>
                      <p>г.Шымкент, ул.Рескулова 8а, фронт офис</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                    <div class="block-list__item">
                      <div class="h4 h4--blue">15 марта 2018 года</div>
                      <p>г.Шымкент, ул.Рескулова 8а, фронт офис</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                  </div>
                </div>
                <div class="fxbox-item w30">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/paper.png" alt="" class="block-title__icon">Результаты конкурсной комиссии</h3>
                  <div class="block-list">
                    <div class="block-list__item">
                      <div class="h4 h4--blue">Ашур Айгул Искандаркызы</div>
                      <p>№19 Средняя общеобразовательная школа имени О.Жанибекова</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                    <div class="block-list__item">
                      <div class="h4 h4--blue">Ашур Айгул Искандаркызы</div>
                      <p>№107 Средняя общеобразовательная школа имени Ю.Сареми </p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                    <div class="block-list__item">
                      <div class="h4 h4--blue">Ашур Айгул Искандаркызы</div>
                      <p>№40 школа гимназия имени Алпамыс Батыра</p>
                      <p class="date">10/11/2017 15:47</p>
                    </div>
                  </div><a href="#!" class="btn btn-default btn--arr"> <span>посмотреть все</span></a>
                </div>
                <div class="fxbox-item w30">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/foto.png" alt="" class="block-title__icon">Онлайн трансляция</h3><a href="#!" class="online-trans"><img src="../../images/icons/online.png" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="news block js-anim">
          <div class="wrapper">
            <div class="news-inner block-inner">
              <h2 class="h2">Новости</h2>
              <div class="shadow-title">Новости</div>
              <div class="fxbox fxbox--wrap fxbox--jc-sb">
                <div class="fxbox-item w33">
                  <div class="news-card">
                    <div class="news-card__top"><a href="#!" class="link comment"> <i class="fas fa-comment-alt icon"></i><span>22</span></a><a href="#!" class="link view"> <i class="fas fa-eye icon"></i><span>22</span></a><a href="#!" class="link"><i class="fas fa-sign-in-alt icon"></i></a></div>
                    <div class="news-card__title">ЕНТ для поступления в вузы не отменяется - МОН РК</div>
                    <p>Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы</p>
                    <div class="news-card__btn"><a href="#!" class="btn btn-default btn--arr">Читать далее</a></div>
                  </div>
                </div>
                <div class="fxbox-item w33">
                  <div class="news-card">
                    <div class="news-card__top"><a href="#!" class="link comment"> <i class="fas fa-comment-alt icon"></i><span>22</span></a><a href="#!" class="link view"> <i class="fas fa-eye icon"></i><span>22</span></a><a href="#!" class="link"><i class="fas fa-sign-in-alt icon"></i></a></div>
                    <div class="news-card__title">ЕНТ для поступления в вузы не отменяется - МОН РК</div>
                    <p>Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы</p>
                    <div class="news-card__btn"><a href="#!" class="btn btn-default btn--arr">Читать далее</a></div>
                  </div>
                </div>
                <div class="fxbox-item w33 achievements">
                  <h3 class="h3 h3--blue block-title"><img src="../../images/icons/cup.png" alt="" class="block-title__icon">Достижения</h3><a href="#!" class="link achievements-cert"><img src="../../images/cert.jpg" alt=""></a>
                </div>
              </div><a href="#!" class="btn btn-default btn--arr">посмотреть все</a>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>
