src/jade/pages/news.jade
extends ../template/template

- var pageClass = 'page-news'

block header
  include ../particles/header.jade

block content
  .news.block.js-anim
    .wrapper
      .block-inner
        h2.h2 Все новости
        .shadow-title Все новости

      .news-flex
        .news-list
          .news-item
            .news-item__img
              img(src="../../images/news-img-1.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title ЕНТ для поступления в вузы не отменяется - МОН РК
              .news-item__text
                p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              a(href="#!").btn.btn-default Читать далее

          .news-item
            .news-item__img
              img(src="../../images/news-img-2.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title Два миллиарда вместо 10 лет. Канату Султанбекову изменили приговор
              .news-item__text
                p Судебная коллегия по уголовным делам Военного суда республики рассмотрела на открытом судебном заседании уголовное дело в отношении экс-зампреда "Казахстан инжиниринг" Каната Султанбекова и других фигурантов
              a(href="#!").btn.btn-default Читать далее 

          .news-item
            .news-item__img
              img(src="../../images/news-img-3.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title Избраны ректоры двух государственных вузов – ВКГУ и СКГУ
              .news-item__text
                p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              a(href="#!").btn.btn-default Читать далее 

          .news-item
            .news-item__img
              img(src="../../images/news-img-3.jpg", alt="")
            .news-item__content
              .news-item__top
                a(href="#!").link.comment 
                  i.fas.fa-comment-alt.icon
                  span 22
                a(href="#!").link.view 
                  i.fas.fa-eye.icon
                  span 22
                a(href="#!").link
                  i.fas.fa-sign-in-alt.icon
              a(href="#!").news-item__title Избраны ректоры двух государственных вузов – ВКГУ и СКГУ
              .news-item__text
                p Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы
              a(href="#!").btn.btn-default Читать далее

        .news-sidebar
          .tabs
            .tab-nav
              a(href="#tab1").tab-link.link.active Популярное
              a(href="#tab2").tab-link.link Недавнее
            .tab-content
              #tab1.tab-item.active
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58

                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
              #tab2.tab-item
                .tab-news
                  p Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58
                .tab-news
                  p В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83
                  .tab-news__date 03 февраля, 10:58

          .news-tag-wrap
            h4.h4 Теги
            a(href="#!").news-tag Новости
            a(href="#!").news-tag Интеграция
            a(href="#!").news-tag t-hunter
            a(href="#!").news-tag Высшее образование
            a(href="#!").news-tag Информационные системы
            a(href="#!").news-tag вузы

          img(src="../../images/sidebar-banner.jpg", alt="")
            

build/html/pages/news.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="news block js-anim">
          <div class="wrapper">
            <div class="block-inner">
              <h2 class="h2">Все новости</h2>
              <div class="shadow-title">Все новости</div>
            </div>
            <div class="news-flex">
              <div class="news-list">
                <div class="news-item">
                  <div class="news-item__img"><img src="../../images/news-img-1.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__top"><a href="#!" class="link comment"> <i class="fas fa-comment-alt icon"></i><span>22</span></a><a href="#!" class="link view"> <i class="fas fa-eye icon"></i><span>22</span></a><a href="#!" class="link"><i class="fas fa-sign-in-alt icon"></i></a></div><a href="#!" class="news-item__title">ЕНТ для поступления в вузы не отменяется - МОН РК</a>
                    <div class="news-item__text">
                      <p>Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы</p>
                    </div><a href="#!" class="btn btn-default">Читать далее</a>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item__img"><img src="../../images/news-img-2.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__top"><a href="#!" class="link comment"> <i class="fas fa-comment-alt icon"></i><span>22</span></a><a href="#!" class="link view"> <i class="fas fa-eye icon"></i><span>22</span></a><a href="#!" class="link"><i class="fas fa-sign-in-alt icon"></i></a></div><a href="#!" class="news-item__title">Два миллиарда вместо 10 лет. Канату Султанбекову изменили приговор</a>
                    <div class="news-item__text">
                      <p>Судебная коллегия по уголовным делам Военного суда республики рассмотрела на открытом судебном заседании уголовное дело в отношении экс-зампреда "Казахстан инжиниринг" Каната Султанбекова и других фигурантов</p>
                    </div><a href="#!" class="btn btn-default">Читать далее </a>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item__img"><img src="../../images/news-img-3.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__top"><a href="#!" class="link comment"> <i class="fas fa-comment-alt icon"></i><span>22</span></a><a href="#!" class="link view"> <i class="fas fa-eye icon"></i><span>22</span></a><a href="#!" class="link"><i class="fas fa-sign-in-alt icon"></i></a></div><a href="#!" class="news-item__title">Избраны ректоры двух государственных вузов – ВКГУ и СКГУ</a>
                    <div class="news-item__text">
                      <p>Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы</p>
                    </div><a href="#!" class="btn btn-default">Читать далее </a>
                  </div>
                </div>
                <div class="news-item">
                  <div class="news-item__img"><img src="../../images/news-img-3.jpg" alt=""></div>
                  <div class="news-item__content">
                    <div class="news-item__top"><a href="#!" class="link comment"> <i class="fas fa-comment-alt icon"></i><span>22</span></a><a href="#!" class="link view"> <i class="fas fa-eye icon"></i><span>22</span></a><a href="#!" class="link"><i class="fas fa-sign-in-alt icon"></i></a></div><a href="#!" class="news-item__title">Избраны ректоры двух государственных вузов – ВКГУ и СКГУ</a>
                    <div class="news-item__text">
                      <p>Пресс-служба Министерства образования и науки РК опубликовала разъяснения по некоторым вопросам, которые были неверно интерпретированы</p>
                    </div><a href="#!" class="btn btn-default">Читать далее</a>
                  </div>
                </div>
              </div>
              <div class="news-sidebar">
                <div class="tabs">
                  <div class="tab-nav"><a href="#tab1" class="tab-link link active">Популярное</a><a href="#tab2" class="tab-link link">Недавнее</a></div>
                  <div class="tab-content">
                    <div id="tab1" class="tab-item active">
                      <div class="tab-news">
                        <p>В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                    </div>
                    <div id="tab2" class="tab-item">
                      <div class="tab-news">
                        <p>Илья Варламов о плохих и хороших городах, деньгах и критике. TheЭфир</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                      <div class="tab-news">
                        <p>В Генпрокуратуре прокомментировали освобождение от должности прокурора Алматы 85093 83</p>
                        <div class="tab-news__date">03 февраля, 10:58</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="news-tag-wrap">
                  <h4 class="h4">Теги</h4><a href="#!" class="news-tag">Новости</a><a href="#!" class="news-tag">Интеграция</a><a href="#!" class="news-tag">t-hunter</a><a href="#!" class="news-tag">Высшее образование</a><a href="#!" class="news-tag">Информационные системы</a><a href="#!" class="news-tag">вузы</a>
                </div><img src="../../images/sidebar-banner.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>
