src/jade/pages/notice.jade
extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .notice.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Мои уведомления
          .shadow-title Мои уведомления
          .table-wrap
            table.table-orange.fz20
              thead
                tr
                  td Дата и время уведомления
                  td Описание уведомления
              tbody.c-red
                tr
                  td 31.12.2017 02:13:00
                  td Об одноразовом пароле для входа в модуль тестирования
                tr
                  td 31.12.2017 02:13:00
                  td Подходящие вакансии
                tr
                  td 31.12.2017 02:13:00
                  td Об одноразовом пароле для входа в модуль тестирования
                tr
                  td 31.12.2017 02:13:00
                  td Подходящие вакансии
                tr
                  td 31.12.2017 02:13:00
                  td Об одноразовом пароле для входа в модуль тестирования
                tr
                  td 31.12.2017 02:13:00
                  td Подходящие вакансии

          .pagination
            a(href="#!").link.pagination-link.active 1
            a(href="#!").link.pagination-link 2
            a(href="#!").link.pagination-link 3
            a(href="#!").link.pagination-link 4
            a(href="#!").link.pagination-link 5
            a(href="#!").link.pagination-link 6

build/html/pages/notice.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="cabinet">
          <div class="notice block js-anim">
            <div class="wrapper">
              <div class="block-inner">
                <h2 class="h2">Мои уведомления</h2>
                <div class="shadow-title">Мои уведомления</div>
                <div class="table-wrap">
                  <table class="table-orange fz20">
                    <thead>
                      <tr>
                        <td>Дата и время уведомления</td>
                        <td>Описание уведомления</td>
                      </tr>
                    </thead>
                    <tbody class="c-red">
                      <tr>
                        <td>31.12.2017 02:13:00</td>
                        <td>Об одноразовом пароле для входа в модуль тестирования</td>
                      </tr>
                      <tr>
                        <td>31.12.2017 02:13:00</td>
                        <td>Подходящие вакансии</td>
                      </tr>
                      <tr>
                        <td>31.12.2017 02:13:00</td>
                        <td>Об одноразовом пароле для входа в модуль тестирования</td>
                      </tr>
                      <tr>
                        <td>31.12.2017 02:13:00</td>
                        <td>Подходящие вакансии</td>
                      </tr>
                      <tr>
                        <td>31.12.2017 02:13:00</td>
                        <td>Об одноразовом пароле для входа в модуль тестирования</td>
                      </tr>
                      <tr>
                        <td>31.12.2017 02:13:00</td>
                        <td>Подходящие вакансии</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="pagination"><a href="#!" class="link pagination-link active">1</a><a href="#!" class="link pagination-link">2</a><a href="#!" class="link pagination-link">3</a><a href="#!" class="link pagination-link">4</a><a href="#!" class="link pagination-link">5</a><a href="#!" class="link pagination-link">6</a></div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>
