src/jade/pages/passport.jade
extends ../template/template

- var pageClass = 'page-passport'

block header
  include ../particles/header.jade

block content
  .passport.block.js-anim
    .wrapper
      .block-inner
        h2.h2 Паспорт
        .shadow-title Паспорт

      .passport-flex
        .passport-img
          img(src="../../images/passport-img-1.png", alt="")
          include ../particles/rate
        .passport-info
          .passport-info__block
            .passport-info__item
              i.iconic.iconic--user
              span ФИО первого руководителя: Иванов Иван Иванович
            .passport-info__item
              i.iconic.iconic--arch
              span Описание организации: Школа основана в 1998 году в Шымкенте
            .passport-info__item
              i.iconic.iconic--doc
              span Номер и дата лицензии: 0658006АБ, от 24.02.2012
          .passport-info__block
            .passport-info__item
              i.iconic.iconic--map-2
              span Юридический адрес: г.Шымкент, ул Тауке хана 8
            .passport-info__item
              i.iconic.iconic--phone
              span Контактные телефоны: +7 7152 11 22 33
            .passport-info__item
              i.iconic.iconic--mail
              span Адрес электронной почты: info@mail.ru
            .passport-info__item
              i.iconic.iconic--www
              span Официальный интернет ресурс: не имеется

      .passport-adv
        .passport-adv__item
          img(src="../../images/icons/passport-icon-1.png", alt="")
          p Общее количество опубликованных вакансии: <span>200</span> вакансии
        .passport-adv__item
          img(src="../../images/icons/passport-icon-2.png", alt="")
          p Количество открытых вакансии: <span>200</span> вакансии
        .passport-adv__item
          img(src="../../images/icons/passport-icon-3.png", alt="")
          p Количество победителей конкурсных комиссии: <span>180</span> человек
        .passport-adv__item
          img(src="../../images/icons/passport-icon-4.png", alt="")
          p Количество трудоустроенных посредством Системы <span>80</span> человек

    .wrapper--small
      h4.h4.c-blue.tac Топ 5 востребованных вакансии
      .table-wrap
        table.table-orange.table-width-auto.fz20
          tr
            td №
            td Наименование вакансии
            td Количество
          tr
            td 1
            td Русский язык
            td 20
          tr
            td 2
            td Алгебра
            td 15
          tr
            td 3
            td Математика
            td 12
          tr
            td 4
            td Информатика
            td 9
          tr
            td 5
            td Казахский язык
            td 8

      .passport-review
        h4.h4.c-blue Оставить отзыв
        form
          include ../particles/rate
          .input-wrap
            textarea(placeholder="Введите текст")
          .button-wrap
            button.btn.btn-default.btn--arr Отправить

      .tabs
        .tab-nav
          a(href="#tab1").tab-link.link.active Отзывы
          a(href="#tab2").tab-link.link Местоположение
        .tab-content
          #tab1.tab-item.active
            .reviews
              .review-block
                .review-user Пулатова Ажар Хилишбековна
                p Все круто!!!
                include ../particles/rate
              
          #tab2.tab-item
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, itaque culpa. Beatae voluptate quibusdam laborum fugit earum magni quos nihil excepturi! Odit, voluptatum nisi labore quas delectus hic odio eligendi laboriosam repellendus iusto. Culpa dolorem nihil asperiores veritatis nobis exercitationem saepe numquam adipisci ratione repellat, atque ad soluta, rem aperiam?

      
          

build/html/pages/passport.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="passport block js-anim">
          <div class="wrapper">
            <div class="block-inner">
              <h2 class="h2">Паспорт</h2>
              <div class="shadow-title">Паспорт</div>
            </div>
            <div class="passport-flex">
              <div class="passport-img"><img src="../../images/passport-img-1.png" alt="">
                <div class="rate"><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item"></i><i class="iconic iconic--star-2 rate-item"></i></div>
              </div>
              <div class="passport-info">
                <div class="passport-info__block">
                  <div class="passport-info__item"><i class="iconic iconic--user"></i><span>ФИО первого руководителя: Иванов Иван Иванович</span></div>
                  <div class="passport-info__item"><i class="iconic iconic--arch"></i><span>Описание организации: Школа основана в 1998 году в Шымкенте</span></div>
                  <div class="passport-info__item"><i class="iconic iconic--doc"></i><span>Номер и дата лицензии: 0658006АБ, от 24.02.2012</span></div>
                </div>
                <div class="passport-info__block">
                  <div class="passport-info__item"><i class="iconic iconic--map-2"></i><span>Юридический адрес: г.Шымкент, ул Тауке хана 8</span></div>
                  <div class="passport-info__item"><i class="iconic iconic--phone"></i><span>Контактные телефоны: +7 7152 11 22 33</span></div>
                  <div class="passport-info__item"><i class="iconic iconic--mail"></i><span>Адрес электронной почты: info@mail.ru</span></div>
                  <div class="passport-info__item"><i class="iconic iconic--www"></i><span>Официальный интернет ресурс: не имеется</span></div>
                </div>
              </div>
            </div>
            <div class="passport-adv">
              <div class="passport-adv__item"><img src="../../images/icons/passport-icon-1.png" alt="">
                <p>Общее количество опубликованных вакансии: <span>200</span> вакансии</p>
              </div>
              <div class="passport-adv__item"><img src="../../images/icons/passport-icon-2.png" alt="">
                <p>Количество открытых вакансии: <span>200</span> вакансии</p>
              </div>
              <div class="passport-adv__item"><img src="../../images/icons/passport-icon-3.png" alt="">
                <p>Количество победителей конкурсных комиссии: <span>180</span> человек</p>
              </div>
              <div class="passport-adv__item"><img src="../../images/icons/passport-icon-4.png" alt="">
                <p>Количество трудоустроенных посредством Системы <span>80</span> человек</p>
              </div>
            </div>
          </div>
          <div class="wrapper--small">
            <h4 class="h4 c-blue tac">Топ 5 востребованных вакансии</h4>
            <div class="table-wrap">
              <table class="table-orange table-width-auto fz20">
                <tr>
                  <td>№</td>
                  <td>Наименование вакансии</td>
                  <td>Количество</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>Русский язык</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Алгебра</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Математика</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Информатика</td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Казахский язык</td>
                  <td>8</td>
                </tr>
              </table>
            </div>
            <div class="passport-review">
              <h4 class="h4 c-blue">Оставить отзыв</h4>
              <form>
                <div class="rate"><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item"></i><i class="iconic iconic--star-2 rate-item"></i></div>
                <div class="input-wrap">
                  <textarea placeholder="Введите текст"></textarea>
                </div>
                <div class="button-wrap">
                  <button class="btn btn-default btn--arr">Отправить</button>
                </div>
              </form>
            </div>
            <div class="tabs">
              <div class="tab-nav"><a href="#tab1" class="tab-link link active">Отзывы</a><a href="#tab2" class="tab-link link">Местоположение</a></div>
              <div class="tab-content">
                <div id="tab1" class="tab-item active">
                  <div class="reviews">
                    <div class="review-block">
                      <div class="review-user">Пулатова Ажар Хилишбековна</div>
                      <p>Все круто!!!</p>
                      <div class="rate"><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item active"></i><i class="iconic iconic--star-2 rate-item"></i><i class="iconic iconic--star-2 rate-item"></i></div>
                    </div>
                  </div>
                </div>
                <div id="tab2" class="tab-item">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, itaque culpa. Beatae voluptate quibusdam laborum fugit earum magni quos nihil excepturi! Odit, voluptatum nisi labore quas delectus hic odio eligendi laboriosam repellendus iusto. Culpa dolorem nihil asperiores veritatis nobis exercitationem saepe numquam adipisci ratione repellat, atque ad soluta, rem aperiam?</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>
