build/html/pages/resume-edit.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="cabinet">
          <div class="resume block js-anim">
            <div class="wrapper">
              <div class="block-inner">
                <h2 class="h2">Редактировать резюме</h2>
                <div class="shadow-title">Редактировать</div>
              </div>
              <div class="resume-edit">
                <div class="resume-edit__block">
                  <div class="resume-edit__title require"><i class="fas fa-exclamation-circle icon"></i><span>Общие сведения о кандидате</span></div>
                  <div class="resume-avatar"><img src="../../images/resume-img.png" alt=""></div>
                  <div class="fxbox fxbox--wrap">
                    <div class="resume-edit__elem w50"><span>ИИН</span>
                      <div class="c-red">
                        <p>890914350326</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Место проживания</span>
                      <div class="c-red">
                        <p>Южно-Казахстанская область, Шымкент Г.А.</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>ФИО</span>
                      <div class="c-red">
                        <p>Cаулембеков Ержан Алтаевич</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Адрес проживания</span>
                      <div class="c-red">
                        <p>Шымкент ул.Тауке-хана 8-33</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Дата рождения</span>
                      <div class="c-red">
                        <p>14.09.1989</p>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap"><a href="#!" class="btn btn-default btn--arr">Редактировать</a></div>
                </div>
                <div class="resume-edit__block">
                  <div class="resume-edit__title require"><i class="fas fa-id-card icon"></i><span>Контактные данные кандидата</span></div>
                  <div class="fxbox fxbox--wrap">
                    <div class="resume-edit__elem w50"><span>Мобильный телефон</span>
                      <div class="c-red">
                        <p>77015364054</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Электронная почта</span>
                      <div class="c-red">
                        <p>yerzhan.saulembekov@gmail.com</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Домашний телефон</span>
                      <div class="c-red">
                        <p>77015364054</p>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap"><a href="#!" class="btn btn-default btn--arr">Редактировать</a></div>
                </div>
                <div class="resume-edit__block">
                  <div class="resume-edit__title require"><i class="far fa-star icon"></i><span>Желаемая должность кандидата</span></div>
                  <div class="fxbox fxbox--wrap">
                    <div class="resume-edit__elem w50"><span>Желаемая должность</span>
                      <div class="c-red">
                        <p>Преподаватель</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Тип занятости</span>
                      <div class="c-red">
                        <p>Постоянный</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Выбор предмета    </span>
                      <div class="tag-wrap">
                        <div class="tag">Математика</div>
                        <div class="tag">Алгебра</div>
                        <div class="tag">Геометрия</div>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap"><a href="#!" class="btn btn-default btn--arr">Редактировать</a></div>
                </div>
                <div class="resume-edit__block">
                  <div class="resume-edit__title"><i class="far fa-star icon"></i><span>Опыт работы кандидата</span></div>
                  <div class="fxbox fxbox--wrap">
                    <div class="resume-edit__elem w50"><span>Общий стаж</span>
                      <div class="c-red">
                        <p>10 лет 9 месяцев</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Педагогический стаж</span>
                      <div class="c-red">
                        <p>0 лет 0 месяцев</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem resume-edit__elem--border w100"><span>Организации</span>
                      <div class="c-red">
                        <p>01.06.2007 - По настоящее время</p>
                        <p>ТОО IT Invest Group - Руководитель проекта г. Астана</p>
                        <p>Руководство проектом</p>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap"><a href="#!" class="btn btn-default btn--arr">Редактировать</a></div>
                </div>
                <div class="resume-edit__block">
                  <div class="resume-edit__title require"><i class="far fa-star icon"></i><span>Образование</span></div>
                  <div class="resume-edit__elem resume-edit__elem--border"><span>Учебные заведения</span>
                    <div class="fxbox fxbox--ai-c c-red"><span class="w20">2013</span>
                      <div>
                        <p>Шымкент педагогика дене тәрбие институты - Бакалавр информационных систем Высшее, </p>
                        <p>Бакалавр Информационные системы, Бакалавр информационных систем</p>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap"><a href="#!" class="btn btn-default btn--arr">Редактировать</a></div>
                </div>
                <div class="resume-edit__block">
                  <div class="resume-edit__title require"><i class="far fa-star icon"></i><span>Ключевые навыки</span></div>
                  <div class="fxbox fxbox--wrap">
                    <div class="resume-edit__elem w50"><span>Знание языков</span>
                      <div class="tag-wrap">
                        <div class="tag">русский</div>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Навыки</span>
                      <div class="c-red">
                        <p>Коммуникабельность, быстро обучаемость</p>
                      </div>
                    </div>
                    <div class="resume-edit__elem w50"><span>Язык обучения</span>
                      <div class="tag-wrap">
                        <div class="tag">русский</div>
                      </div>
                    </div>
                  </div>
                  <div class="button-wrap"><a href="#!" class="btn btn-default btn--arr">Редактировать</a></div>
                </div>
                <div class="resume-edit__block">
                  <div class="resume-edit__title require"><i class="far fa-star icon"></i><span>Дополнительная информация</span></div>
                  <div class="resume-edit__elem"><span>Обо мне</span>
                    <div class="c-red">
                      <p>Умение работать в коллективе</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>

src/jade/pages/resume-edit.jade
extends ../template/template

- pageClass = 'page-cabinet'

block header
  include ../particles/header.jade

block content
  .cabinet
    .resume.block.js-anim
      .wrapper
        .block-inner
          h2.h2 Редактировать резюме
          .shadow-title Редактировать

        .resume-edit
          .resume-edit__block
            .resume-edit__title.require
              i.fas.fa-exclamation-circle.icon
              span Общие сведения о кандидате
            .resume-avatar
              img(src="../../images/resume-img.png", alt="")

            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span ИИН
                div.c-red
                  p 890914350326
              .resume-edit__elem.w50
                span Место проживания
                div.c-red
                  p Южно-Казахстанская область, Шымкент Г.А.
              .resume-edit__elem.w50
                span ФИО
                div.c-red
                  p Cаулембеков Ержан Алтаевич
              .resume-edit__elem.w50
                span Адрес проживания
                div.c-red
                  p Шымкент ул.Тауке-хана 8-33
              .resume-edit__elem.w50
                span Дата рождения
                div.c-red
                  p 14.09.1989
            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.fas.fa-id-card.icon
              span Контактные данные кандидата
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Мобильный телефон
                div.c-red
                  p 77015364054
              .resume-edit__elem.w50
                span Электронная почта
                div.c-red
                  p yerzhan.saulembekov@gmail.com
              .resume-edit__elem.w50
                span Домашний телефон
                div.c-red
                  p 77015364054
            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Желаемая должность кандидата
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Желаемая должность
                div.c-red
                  p Преподаватель
              .resume-edit__elem.w50
                span Тип занятости
                div.c-red
                  p Постоянный
              .resume-edit__elem.w50
                span Выбор предмета    
                .tag-wrap
                  .tag Математика
                  .tag Алгебра
                  .tag Геометрия
            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title
              i.far.fa-star.icon
              span Опыт работы кандидата
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Общий стаж
                div.c-red
                  p 10 лет 9 месяцев
              .resume-edit__elem.w50
                span Педагогический стаж
                div.c-red
                  p 0 лет 0 месяцев
              .resume-edit__elem.resume-edit__elem--border.w100
                span Организации
                div.c-red
                  p 01.06.2007 - По настоящее время
                  p ТОО IT Invest Group - Руководитель проекта г. Астана
                  p Руководство проектом

            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Образование
            .resume-edit__elem.resume-edit__elem--border
              span Учебные заведения
              div.fxbox.fxbox--ai-c.c-red
                span.w20 2013
                div
                  p Шымкент педагогика дене тәрбие институты - Бакалавр информационных систем Высшее, 
                  p Бакалавр Информационные системы, Бакалавр информационных систем

            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Ключевые навыки
            .fxbox.fxbox--wrap
              .resume-edit__elem.w50
                span Знание языков
                .tag-wrap
                  .tag русский
              .resume-edit__elem.w50
                span Навыки
                div.c-red
                  p Коммуникабельность, быстро обучаемость
              .resume-edit__elem.w50
                span Язык обучения
                .tag-wrap
                  .tag русский

            .button-wrap
              a(href="#!").btn.btn-default.btn--arr Редактировать

          .resume-edit__block
            .resume-edit__title.require
              i.far.fa-star.icon
              span Дополнительная информация
            .resume-edit__elem
              span Обо мне
              div.c-red
                p Умение работать в коллективе
