src/jade/pages/table-page.jade
extends ../template/template

block header
  include ../particles/header.jade

block content
  .table-data-page.block.js-anim
    .wrapper
      .block-inner
        h2.h2 Открытые вакансии 
        .shadow-title Открытые вакансии

        form(action="#!").fxbox.fxbox--wrap
          select.js-select
            option Номер конкурсной комиссии
            option Номер конкурсной комиссии
            option Номер конкурсной комиссии
            option Номер конкурсной комиссии
          .input-wrap.input-search
            input.input(type="text")
            button
              i.fas.fa-search.icon
        .tabs
          .tab-nav
            a(href="#tab1").tab-link.link.active по школам
            a(href="#tab2").tab-link.link по предметам
          .tab-content
            #tab1.tab-item.active
              .table-wrap
                table.table-orange
                  thead
                    tr
                      td #
                      td Наименование организации
                      td Количество вакансий
                  tbody
                    tr
                      td 1
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1
                    tr
                      td 2
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 3
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 4
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 5
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 6
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

                    tr
                      td 7
                      td №52 Средняя общеобразовательная школа имени М.Отемисулы
                      td 1

            #tab2.tab-item
              .table-wrap
                table.table-orange
                  thead
                    tr
                      td #
                      td Наименование вакансии
                      td Наименование организации
                      td Дата публикации вакансии
                      td Количество поданных заявлений
                      td Дата окончания приема заявлений
                  tbody
                    tr
                      td 1
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

                    tr
                      td 2
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

                    tr
                      td 3
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

                    tr
                      td 4
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00
                    tr
                      td 5
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00
                    tr
                      td 6
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00
                    tr
                      td 7
                      td.c-blue Биология
                      td.c-blue №52 Средняя общеобразовательная  школа имени М.Отемисулы
                      td 03/15/2018
                      td 1
                      td 26/03/2018 09:00

build/html/pages/table-page.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/common.min.css">
    <title>tHunter</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="wrapper">
          <div class="header-inner"><a href="#!" class="header-logo"><img src="../../images/icons/logo.png" alt=""></a>
            <div class="header-geo">
              <select class="js-select">
                <option>Шымкент</option>
                <option>Туркестан</option>
                <option>Ленгер</option>
                <option>Арыс</option>
              </select>
            </div>
            <ul class="header-nav">
              <li><a href="#!" class="link link--default active">Школа</a></li>
              <li><a href="#!" class="link link--default">Детский сад</a></li>
              <li><a href="#!" class="link link--default">Аналитика</a></li>
              <li><a href="#!" class="link link--default">Обратная связь</a></li>
            </ul>
            <div class="header-profile"><a href="#!" class="link link--default">Регистрация</a>
              <select class="header-lang">
                <option>Рус</option>
                <option>Каз</option>
                <option>Англ</option>
              </select>
              <div class="header-user js-dropdawn">
                <div><i class="fas fa-user-circle icon"></i>Саулембеков</div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div>
              <div style="display: none" class="header-login js-dropdawn">
                <div>Вход<i class="fas fa-sign-in-alt icon"></i></div>
                <ul class="dropdawn">
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                  <li><a href="#!" class="link">Lorem, ipsum</a></li>
                </ul>
              </div><a href="#!" style="display: none" class="link link--default header-login">Выйти<i class="fas fa-sign-in-alt icon"></i></a>
            </div>
            <div class="header-menu-btn">
              <div id="nav-icon1"><span></span><span></span><span></span></div>
            </div>
            <ul class="header-mobile-menu">
              <li><a href="#!" class="link">Школа</a></li>
              <li><a href="#!" class="link">Детский сад</a></li>
              <li><a href="#!" class="link">Аналитика</a></li>
              <li><a href="#!" class="link">Обратная связь</a></li>
              <li><a href="#!" class="link">Регистрация</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <main class="main">
        <div class="table-data-page block js-anim">
          <div class="wrapper">
            <div class="block-inner">
              <h2 class="h2">Открытые вакансии </h2>
              <div class="shadow-title">Открытые вакансии</div>
              <form action="#!" class="fxbox fxbox--wrap">
                <select class="js-select">
                  <option>Номер конкурсной комиссии</option>
                  <option>Номер конкурсной комиссии</option>
                  <option>Номер конкурсной комиссии</option>
                  <option>Номер конкурсной комиссии</option>
                </select>
                <div class="input-wrap input-search">
                  <input type="text" class="input">
                  <button><i class="fas fa-search icon"></i></button>
                </div>
              </form>
              <div class="tabs">
                <div class="tab-nav"><a href="#tab1" class="tab-link link active">по школам</a><a href="#tab2" class="tab-link link">по предметам</a></div>
                <div class="tab-content">
                  <div id="tab1" class="tab-item active">
                    <div class="table-wrap">
                      <table class="table-orange">
                        <thead>
                          <tr>
                            <td>#</td>
                            <td>Наименование организации</td>
                            <td>Количество вакансий</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td>№52 Средняя общеобразовательная школа имени М.Отемисулы</td>
                            <td>1</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div id="tab2" class="tab-item">
                    <div class="table-wrap">
                      <table class="table-orange">
                        <thead>
                          <tr>
                            <td>#</td>
                            <td>Наименование вакансии</td>
                            <td>Наименование организации</td>
                            <td>Дата публикации вакансии</td>
                            <td>Количество поданных заявлений</td>
                            <td>Дата окончания приема заявлений</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                          <tr>
                            <td>7</td>
                            <td class="c-blue">Биология</td>
                            <td class="c-blue">№52 Средняя общеобразовательная  школа имени М.Отемисулы</td>
                            <td>03/15/2018</td>
                            <td>1</td>
                            <td>26/03/2018 09:00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- footer-->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="footer-logo"><img src="../../images/icons/logo-footer.png" alt=""></div>
            <div class="footer-social"><span>© 2017 «T-Hunter» - Работа для педагогов</span>
              <div class="fxbox"><a href="#!" class="link"><i class="fab fa-facebook icon"> </i><i class="fab fa-vk icon"> </i><i class="fab fa-instagram icon"></i></a></div>
            </div>
            <div class="footer-partner"><img src="../../images/icons/logo-partner.png" alt=""><span>При поддержке</span></div>
          </div>
        </div>
      </footer>
      <!-- vendor js-->
      <script src="../../scripts/libs.js"></script>
      <!-- common.js-->
      <script src="../../scripts/common.min.js"></script>
    </div>
  </body>
</html>
